body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,figure,figcaption{margin:0;padding:0}
body{font:12px "微软雅黑","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%}
a{text-decoration:none;color: #333;}
em{font-style:normal}
li{list-style:none}
img{border:0;display:inline-block;}
html,body{
	height:100%;
}