*{
    margin:0;
    padding:0;
}
li{
    list-style-type: none;
}

.top{
    width:100%;
    height:45px;
    background:#007AFF;
    color:white;
    display: flex; 
    h3{
        margin-left:230px;
        line-height:45px;
    }
    ul{ 
        display: flex;
        line-height:45px;
        margin-left:300px;
        li{
            margin:0 2px;
            font-size:14px;          
            a{
                color:white;
               &:hover{
                color:yellow;
                text-decoration: underline;
                } 
            }
        }
    }    
}
