/* 底部样式 */
a{
	color: #000;
}
a:hover{
	color: #f00;
	text-decoration:underline;
}
.footer{
	width: 100%;
	/*height: 174px;*/
	background: #3f3e3e;
    padding: 25px 0 40px 0;
}
.f-end{
	width: 1000px;
	height: 174px;
	margin: 0 auto;
	position: relative;
}
.f-end ul:first-child{
	width:1000px;
	height: 19px;
	font-size: 14px;
    margin-bottom: 12px;
}
.f-end ul:first-child li{
	float: left;
    padding-right: 12px;
}
.f-end ul:first-child a{
	color: #f1f1f1;
}
.f-banquan{
	font-size: 12px;
    color: #cccaca;
    margin-bottom: 16px;
}
.f-banquan a{
	color: #cccaca;
}
.f-banquan p{
	line-height: 20px;
}
.f-banben-tu li{
	width: 120px;
	float: left;
	margin-right: 8px;
}
.f-banben-erweima{
	position: absolute;
    right: 0;
    top: 10px;
}
.f-banben-erweima p{
	color: #cccaca;
	font-size: 14px;
}
.f-banben-erweima li{
	float: left;
    width: 130px;
    margin-right: 10px;
    font-size: 12px;
    color: #cccaca;
    text-align: center;
    line-height: 30px;
}
.f-banben-erweima li img{
	width: 100px;
	height: 100px;
	margin-left: 15px;
}