.header{
	width:100%;
	height:30px;
	background: #f9f9f9;
	border-bottom: 1px solid #ececec;	
}
.header .h-main{
	width:1190px;
	height:30px;
	margin:0 auto;
	line-height: 30px;
}
.header .h-main a{
	color: #666;
}
.h-main h1{
	float: left;
	font-weight: normal;
	font-size: 12px;
	color: #666;
	line-height: 30px;
}
.h-main a:hover{
	cursor:pointer;
}
.h-main h1 a{
	padding: 0 4px;
}
.h-main div:first-of-type{
	float: right;
	font-size: 12px;
}
.h-main div:first-of-type>a{
	padding:0 5px;
}
.h-main div:first-of-type img{
	position: relative;
    top: -2px;
    margin-right: 0;
}
.h-main div:first-of-type a:last-child{
	display: inline-block;
	height:30px;
	border-left:1px solid #f1f1f1;
	border-right:1px solid #f1f1f1;
}
.h-main div:first-of-type a:last-child:hover{
	background:white;
}
/*logo*/
.logo{
	width:1190px;
	height:74px;
	margin:15px auto;
}
.logo h1{
	float:left;
}
.logo p{
	float:left;
	padding-left:12px;
	height:53px;
	border-left: #d4d4d4 1px solid;
	margin:10px 0 10px 10px;
}
.logo p span{
	display: block;
}
.logo p span:first-child{
	font-size:25px;
    color: #025091;
    font-weight: bold;
}
.logo p span:last-child{
	font-size: 14px;
    color: #5d5c5c;
}
.logo .search{
	float:left;
	width:490px;
	height:67px;
	margin-left: 43px;
}
.s-top{
	position: relative;
	width:487px;
	height: 40px;
	line-height: 34px;
	border: #d03232 2px solid;
}
.btn{
	padding:7px 25px;
}
.s-top .btn-group {
	position: absolute;
	left: 0;
	top: 0;
	background: #f2f2f2;
}
.dropdown-menu{
	min-width:93px;
	text-align: center;
	top:35px;
	left:-2px;
	border-radius: 0;
	padding: 0;
	margin: 0;
}
.dropdown-menu li{
	width:93px;
	height:36px;
}
.s-top input{
	float:left;
	width: 371px;
    padding-left: 5px;
    height: 36px;
    line-height: 36px;
    border: 0;
    border-left: #e0e0e0 1px solid;
    outline: 0;
}
.s-top .sousuo{
	float:right;
	width: 108px;
    height: 36px;
    background: #cc0000;
    color: #fff;
    border: #d03232 1px solid;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}
.s-bottom{
	line-height: 22px;
    color: #929292;
    font-size: 12px;
    margin-top: 5px;
}
.s-bottom a{
	padding: 0 5px;
    color: #666;
}
.s-bottom a:hover{
    color: #f00;
}
/*导航*/
/*.daohang:hover {
	display: block;
}*/
.h-main .xianshi{
	display: block;
}
.daohang {
	width: 360px;
	position: absolute;
	top: 30px;
	right: 1px;
	display: none;
	background: #fff;
	border: 1px #ECECEC solid;
	z-index: 99999;
	font-size: 12px;
	padding: 20px;
}

.daohang>div {
	margin-top: 10px;
}

.daohang li {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.daohang dt {
	float: left;
	margin-top: 10px;
}

.daohang dd {
	margin-left: 62px;
}
.nav{
	height: 46px;
	border-bottom: #1c78c5 2px solid;
}
.nav .n-main{
	width:1190px;
	height:46px;
	margin:0 auto;
	position: relative;
}
.n-main li{
	float: left;
    font-size: 18px;
    font-weight: bold;
    padding: 0 25px;
    line-height: 44px;
    position:relative;
}
.n-main span{
	position: absolute;
	left:51px;
	top:25px;
	border-width:10px;
	display: none;
	border-style: solid;
	border-color: transparent transparent #1c78c5 transparent; 
}
.n-main li.hover a{
	color:#1c78c5;
	text-decoration: none;
}
.n-main li.hover span{
	display: block;
}
.n-main li:nth-child(2) span,.n-main li:nth-child(3) span{
	left:60px;
}
.meijiu{
	position: absolute;
    right: 0;
    top: 5px;
    font-size: 16px;
    line-height: 32px;
    background: #d03232;
    padding: 0 13px;
}
.meijiu a,.meijiu a:hover{
	color:#fff;
	text-decoration: none;
}
