*{margin: 0;padding: 0;}






.b-left{width: 215px;height: 470px;background:#fefee9; float: left;position: relative}
.m-list h3{
height: 32px;

line-height: 32px;

font-size: 12px;

overflow: hidden;

background: #eeeede;

padding: 0 13px;

font-weight: normal;

position: relative;
}

.m-list .jiu{ width: 215px;height:133px; }
.m-list .jiu:hover{background: white;}
.m-list span{float: right;}
.m-list h3 a img{display: block;float: left; margin: 5px 10px}
.m-list .jiu p{line-height: 23px;
padding: 3px 7px 0px 13px;
border-left: #fff 2px solid; font-size: 12px; float: left;}
.m-list .jiu-2{height: 110px; width: 215px;}
.m-list .jiu-2:hover{background: white;}
.m-list .jiu-2 p{line-height: 23px;
padding: 3px 7px 0px 13px;
border-left: #fff 2px solid; font-size: 12px; float: left;}
.m-list .jiu-3{width: 215px;height: 160px;}
.m-list .jiu-3:hover{background: white;}
.m-list .jiu-3 p{line-height: 23px;
padding: 3px 7px 0px 13px;
border-left: #fff 2px solid; font-size: 12px; float: left;}
.m-list .jiu-4{width: 215px;height: 25px; background: red;}
.m-list .jiu-4 p{line-height: 23px;
padding: 3px 7px 0px 13px;
border-left: #fff 2px solid; font-size: 12px; float: left;}
.m-list .jiu-4 p a:hover{color: red;text-decoration: underline;}
.m-list .jiu-2 p a:hover{color: red;text-decoration: underline;}
.m-list .jiu p a:hover{color: red;text-decoration: underline;}
.m-list .jiu-3 p a:hover{color: red;text-decoration: underline;}
.b-right{width:195px; height:470px;background: yellow;float:right;}
.b-right img {display: block;} 




.slide{width: 600px; height:250px; position: absolute;top: 0;left:215px; display: block;display: none;background: white;}

.slide .sli-list{height:40px;}
.slide .sli-list li{float: left;line-height: 40px;font-size: 12px; padding: 0px 12px;}
.sli-list .sli-list{float: right;}
.slide .sli-list h6{line-height:40px; float: left; padding: 0px 15px;}
.sli-list1{border-bottom:1px dashed #424141}
.slide .sli-list li a:hover{color: red;text-decoration: underline;}
/*隐藏块2*/
.slide2{width: 600px;height: 130px; position: absolute;top:160px;left: 215px;
display:none;background: white;}
.slide2 .sli-list{height:40px;}
.slide2 .sli-list li{float: left;line-height: 40px;font-size: 12px; padding: 0px 12px;}
.sli-list .sli-list{float: right;}
.slide2 .sli-list h6{line-height:40px; float: left; padding: 0px 15px;}
.sli-list2{border-bottom:1px dashed #424141}
.slide2 .sli-list li a:hover{color: red;text-decoration: underline;}
/*隐藏块3*/
.slide3{width: 600px;height: 162px; position: absolute;top:250px;left:215px;
display:none;background: white;}
.slide3 .sli-list{height:40px;}
.slide3 .sli-list li{float: left;line-height: 40px;font-size: 12px; padding: 0px 12px;}
.sli-list .sli-list{float: right;}
.slide3 .sli-list h6{line-height:40px; float: left; padding: 0px 15px;}
.sli-list3{border-bottom:1px dashed #424141}
.slide3 .sli-list li a:hover{color: red;text-decoration: underline;}
/*以下是center部分*/
.w-center{width:100%;height:3382px;margin-top:30px;}
.w-center .bk-center{width:1190px;height: 3382px;margin: auto;}
.bk-title{font-size: 22px;
color: #000;
line-height: 50px;



height: 50px;}

.bk-list{    border: #e6e6e6 1px solid;height:274px;width: 1190px;
    overflow: hidden;
}
.bk-list li{height: 274px; width:274px; float: left; margin-left: 20px;margin-top: 5px;}
.bk-list img{display: block;height:220px;width: 237px;text-align: center;margin-left: 24px;}
.bk-list p{margin-top: 15px;text-align: center;}