.n-main li:nth-child(4) span{
	display: block;
}
.n-main li:nth-child(4) a{
	color:#1c78c5;
}
.n-main:hover li:nth-child(4) span{
	display: none;
}
.n-main:hover li:nth-child(4) a{
	color:#333;
}
.n-main:hover li:nth-child(4):hover span{
	display: block;
}
.n-main:hover li:nth-child(4):hover a{
	color:#1c78c5;
}
a:hover,a{
	color: #444;
	text-decoration: none;
}
.z-slider{
	width: 100%;
	height:668px;
    background: #f1f1f1;
    margin-bottom: 15px;
    margin-top: 5px;
}
.lunbo{
	width: 1190px;
	height:668px;
	margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.lunbo .btns span{
	display: block;
    width: 45px;
    height: 100px;
    overflow: hidden;
    text-indent: -999px;
    position: absolute;
    top: 140px;
    cursor: pointer;
    margin: 85px 0 0 0;
    opacity: .6;
}
.lunbo .btns span:first-child{   
    background: url(../img/l.png) no-repeat;
    left: 0;
}
.lunbo .btns span:last-child{
    background: url(../img/r.png) no-repeat;
    right: 0;
}
.nums{
	width: 1190px;
    height: 106px;
    margin: 0 auto;
    bottom: 0;
    position: absolute;
   /* overflow: hidden;*/
}
.nums li{
    width: 143px;
    height: 96px;
    float: left;
    padding: 0px;
    border: 1px solid #fff;
    margin: 2px 5px 2px 0;
    overflow: hidden;
    opacity: .6;
}
.nums img{
    width: 141px;
    height: 96px;
}
.nums li:hover,.nums li.hover{
	border:3px solid #239bff;
	margin:0 5px 0 0;
	opacity: 1;
}
.list {
	width:9528px;
	height:544px;
    overflow: hidden;
    position: absolute;
}
.list img{
	width: 800px;
    height: 544px;
}
.list li {
	width: 1190px;
    height: 544px;
    overflow: hidden;
    float: left;
    background: #333333;
}
.list li a{
	float: left;
}
.slider_inf{
	width: 360px;
    overflow: hidden;
    color: #999;
    float: right;
    padding: 0 50px 0 0;
}
.slider_inf h3{
	color: #fff;
    font-size: 24px;
    padding: 40px 0 10px 0;
    line-height: 32px;
}
.slider_inf p{
	color: #999;
    margin-top: 10px;
    line-height: 22px;
    font-size: 14px;
}
.Tenterbtn{
	width: 170px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    padding: 0 35px;
    background: #dedede;
    margin-top: 20px;
    font-weight: bold;
}
/*当前位置*/
.main{
	width: 1190px;
    margin: 15px auto 0 auto;
}
.m-local{
	width: 1190px;
	font-size: 14px;
    padding: 0 0 15px 0;
    color: #666;
}
.m-local a,.m-local a:hover{
	padding: 0 5px;
    color: #126db3;
}
.m-local img{
	position: relative;
    top: -1px;
}
.main .bt{
	background: #e7f5ff;
    height: 40px;
    line-height: 40px;
}
.main .bt span{
    background: #1c78c5;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 20px;
}
/*图片展会*/
.tcList{
	margin: 10px 0;
}
.tcList li{
	float: left;
    width: 277px;
    margin: 12px 10px;
    padding: 8px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
    height: 340px;
}
.tcList li img{
	width: 100%;
    height: 281px;
}
.tcList li p{
	width:261px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
    line-height: 26px;
    padding: 5px 0;
}
.tcFeye{
	width:1190px;
	height: 30px;
	font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 35px 0;
    line-height: 30px;
}
.tcFeye a{
	padding: 6px 11px;
    border: #e0e0e0 1px solid;
    border-radius: 4px;
    margin-right: 5px;
}
.tcFeye a:hover,.tcFeye a.hover{
	color: #fff;
    padding: 6px 12px;
    background: #1c78c5;
    border: #1c78c5 1px solid;
    border-radius: 4px;
}

